# Django 보안 키
# 로컬 개발에서는 임시값 사용 가능
DJANGO_SECRET_KEY=

# 로컬 개발 환경에서는 True, 배포 환경에서는 False로 설정
DJANGO_DEBUG=True

# Django 서버 접속을 허용할 도메인 또는 IP 목록
# 배포 예시: example.com,api.example.com,12.34.56.78
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
