{% extends 'base.html' %}
{% load static %}

{% block title %}
내가 쓴 글
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/my_create.css' %}">
{% endblock %}

{% block content %}

<div class="my-create-page">

    <div class="page-header">
        <h1>내가 쓴 글</h1>
        <p>직접 작성한 설명서를 관리해보세요.</p>
    </div>

    

    <section id="guide-list" class="guide-grid">
        </section>
    
    <div id="pagination" class="pagination-container"></div>

</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/my_creat.js' %}"></script>
{% endblock %}