{% extends 'base.html' %}
{% load static %}

{% block title %}
내가 등록한 질문
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/my_quest.css' %}">
{% endblock %}

{% block content %}

<div class="my-quest-page">

    <div class="page-header">

        <h1>내가 등록한 질문</h1>

        <p>내가 등록한 질문을 확인하고 관리해보세요.</p>

    </div>


    

    <!-- 질문 목록 -->

    <section id="question-list" class="question-list">
    </section>

    <div id="pagination" class="pagination-container"></div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/my_quest.js' %}"></script>
{% endblock %}