{% extends 'base.html' %}
{% load static %}

{% block title %}
저장한 설명서
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/save_guide.css' %}">
{% endblock %}

{% block content %}

<div class="save-guid-page">

    <div class="page-header">
        <h1>저장한 설명서</h1>
        <p>나중에 다시 보고 싶은 설명서를 모아볼 수 있습니다.</p>
    </div>

    
    
    <div id="pagination" class="pagination-container"></div>

</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/save_guide.js' %}"></script>
{% endblock %}